<div class="row wrapper border-bottom white-bg page-heading">
	
	<div class="col-lg-10">
		<h2>物料基本信息管理</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">首页</a>
			</li>
			<li>
				<a>基础管理</a>
			</li>
			<li class="active">
				<strong>物料基本信息管理</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<!--头目录-->
<div class="container-fluid">
	<div class="panel panel-default" style="margin-top: 20px;">
		<div class="panel-heading">查询条件</div>
		<div class="panel-body">
			<form class="form-inline">
				<div class="form-group" style="width:100%">
					<div style="display: inline-block;">
						<label for="appNameQuery" style="margin: 10px;margin-right: 36px;">条码：</label>
						<input type="text" id="appNameQuery" class="form-control" ng-model='tiaoma_name' style="width: 200px" />
					</div>
					<div style="display: inline-block;">
						<label for="devLanguageQuery" style="margin: 10px">设备类别：</label>
						<select class=" form-control" id="devLanguageQuery" search="search" style="width: 200px" ng-model='shebei_lei'>
							<option value="" selected="selected">--请选择--</option>
							<option value="{{x.VALUE}}" ng-repeat='x in shebeimenu'>{{x.NAME}}</option>
						</select>
					</div>										
					<button id="queryBtn" type="button" class="btn btn-primary" ng-click='submitf()' style="margin: 10px "><i class="fa fa-search"></i> 查询</button>
					<button id="resetBtn" type="reset" ng-click='submitcl()' class="btn btn-primary" style="margin: 10px "><i class="fa fa-trash"></i>&nbsp;重置</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: #FFFFFF;">
			<p style="display: inline-block;" ng-repeat='x in narr2'>
				<button  type="button" class="btn btn-primary" ng-click='do(x.BTN_FUN_LINK)' style="margin: 2px;"><i class="fa fa-plus"></i>{{x.BTN_NAME}}</button>
			</p>
		</div>
		<div class="table-responsive">
			<table class="table  table-bordered table-hover" style="font-family: Helvetica, 微软雅黑;">
				<thead>
					<tr>
						<th>序号</th>
						<th><input type="checkbox" name="box" id="" ng-model="all" ng-click='alllist($event)' /></th>
						<th>ID</th>
						<th>条码</th>
						<th>资产编号</th>
						<th>设备类别</th>
						<th>类别</th>
						<th>类型</th>
						<th>型号</th>
						<th>接线方式</th>
						<th>电流</th>
						<th>电压</th>
						<th>电流变比</th>
						<th>电压变比</th>
						<th>制造单位</th>
						<th>精确度等级</th>
						<th>设备状态</th>
						<th>最近检定时间</th>
						<th>通讯方式</th>
						<th>通讯规约</th>
						<th>显示方式</th>
					</tr>
				</thead>
				<tbody id="contentBody">
					<tr ng-repeat='x in lists.root'>
						<td>{{x.ROWNUM_}}</td>
						<td><input type="checkbox" name="{{x.ID}}" id="" ng-checked="all" ng-click='idlist($event)' value="{{$index}}" /></td>
						<td>{{x.ID}}</td>
						<td>{{x.BAR_CODE}}</td>
						<td>{{x.ASSET_NO}}</td>
						<td>{{x.EQUIP_CATEG_NAME}}</td>
						<td>{{x.SORT_NAME}}</td>
						<td>{{x.TYPE_NAME}}</td>
						<td>{{x.MODEL_NAME}}</td>
						<td>{{x.WIRING_MODE_NAME}}</td>
						<td>{{x.RATED_CURRENT_NAME}}</td>
						<td>{{x.VOLT_NAME}}</td>						
						<td>{{x.RC_RATIO_CODE}}</td>						
						<td>{{x.VOLT_RATIO_CODE}}</td>						
						<td>{{x.MANUFACTURER_NAME}}</td>
						<td>{{x.AP_PRE_LEVEL_NAME}}</td>						
						<td>{{x.EQUIP_STATUS_CODE}}</td>						
						<td>{{x.LATEST_CHK_DATE}}</td>					
						<td>{{x.COMM_MODE}}</td>
						<td>{{x.COMM_PROT_NAME}}</td>
						<td>{{x.DISP_MODE}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- 分页 -->
	<div class="pager">
		<pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>
	</div>
	<!-- 分页 -->

	<!--添加与修改-->
	<div class="modal fade" tabindex="-1" role="dialog" id="chakan">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">物料基本信息管理</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" novalidate>
						<div class="form-group" style="width:100%">
							<label for="appNameQuery" style="margin: 10px">条码：</label>
							<input type="text" id="appNameQuery" class="form-control" ng-model='m1' style="width: 150px;border-color:{{red}};" />							
							<label for="devLanguageQuery" style="margin: 10px ;margin-right: 23px;">设备类别：</label>
							<select class=" form-control" id="devLanguageQuery" search="search" style="width:150px;border-color:{{red}};" ng-model='m2' >
								<option value="{{x.VALUE}}" ng-repeat='x in shebeimenu'>{{x.NAME}}</option>
							</select>							
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="queryBtn" type="button" class="btn btn-primary" ng-click='save()' style="margin: 10px "><i class="fa fa-search"></i>保存</button>
					<button id="resetBtn" type="reset" ng-click='submitcl2()' class="btn btn-primary" style="margin: 10px "><i class="fa fa-trash"></i>&nbsp;重置</button>
					<button id="resetBtn" type="reset" class="btn btn-primary" style="margin: 10px " data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
<!--查看-->
	<div class="modal fade" tabindex="-1" role="dialog" id="chakans">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">物料基本信息管理</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" novalidate>
						<div class="form-group" style="width:100%">
							<label for="appNameQuery" style="margin: 10px">条码：</label>
							<input type="text" id="appNameQuery" class="form-control" ng-model='m1' style="width: 150px;border-color:{{red}};" />							
							<label for="devLanguageQuery" style="margin: 10px ;margin-right: 23px;">设备类别：</label>
							<select class=" form-control" id="devLanguageQuery" search="search" style="width:150px;border-color:{{red}};" ng-model='m2' >
								<option value="{{x.VALUE}}" ng-repeat='x in shebeimenu'>{{x.NAME}}</option>
							</select>							
						</div>
					</form>
				</div>
				<div class="modal-footer">
					
					<button id="resetBtn" type="reset" class="btn btn-primary" style="margin: 10px " data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>
