<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>库存情况查询</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">首页</a>
			</li>
			<li>
				<a>报表统计</a>
			</li>
			<li class="active">
				<strong>库存情况查询</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<iframe  id="iframepage2"   src="http://10.0.28.30:10000/WMS_CX/ShowReport.wx?PAGEID=StoreInfoQuery"  style="width: 100%;border:none;">
  <p>您的浏览器不支持  iframe 标签。</p>
</iframe>