
<style type="text/css">
	li{
		list-style: none;
	}
</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>角色管理</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">首页</a>
			</li>
			<li>
				<a>系统管理</a>
			</li>
			<li class="active">
				<strong>角色管理</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<!--头目录-->

<div class="container-fluid">
	<div class="panel panel-default" style="margin-top: 20px;">
		<div class="panel-heading">查询条件</div>
		<div class="panel-body">
			<form class="form-inline">
				<div class="form-group" style="width:100%">
					<label for="appNameQuery" style="margin: 10px">角色名称：</label>
					<input type="text" id="appNameQuery" class="form-control" ng-model='jiao_name' style="width: 200px" />
					
					<button id="queryBtn" type="button" class="btn btn-primary" ng-click='submitf()' style="margin: 10px "><i class="fa fa-search"></i> 查询</button>
					<button id="resetBtn" type="reset" ng-click='submitcl()' class="btn btn-primary" style="margin: 10px "><i class="fa fa-trash"></i>&nbsp;重置</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: #FFFFFF;">
			<p style="display: inline-block;" ng-repeat='x in narr2'>
				<button  type="button" class="btn btn-primary" ng-click='do(x.BTN_FUN_LINK)' style="margin: 2px;"><i class="fa fa-plus"></i>{{x.BTN_NAME}}</button>
			</p>
		</div>
		<div class="table-responsive">
			<table class="table  table-bordered table-hover" style="font-family: Helvetica, 微软雅黑;">
				<thead>
					<tr>
						<th>序号</th>
						<th><input type="checkbox" name="box" id="" ng-model="all" ng-click='alllist($event)' /></th>
						<th>角色名称</th>
						<th>描述</th>
					</tr>
				</thead>
				<tbody id="contentBody">
					<tr ng-repeat='x in lists.root'>
						<td>{{x.ROWNUM_}}</td>
						<td><input type="checkbox" name="{{x.ID}}" id="" ng-checked="all" ng-click='idlist($event)' value="{{$index}}" /></td>
						<td>{{x.NAME}}</td>
						<td>{{x.DESCRIPTION}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- 分页 -->
	<div class="pager">
		<pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>
	</div>
	<!-- 分页 -->

	<!--添加与修改-->
	<div class="modal fade" tabindex="-1" role="dialog" id="chakan">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">角色信息管理</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" novalidate>
						<div class="form-group" style="width:100%">
							<p  style="display: inline-block;">
								<label for="appNameQuery5" style="margin: 10px;">角色名称：</label>
								<input type="text" id="appNameQuery5" class="form-control" ng-model='m1' style="width: 150px;border-color:{{red}};" />
							</p>
											
								<p  style="display: inline-block;">
									<label for="appNameQuery6"  style="margin: 10px;margin-right: 36px;">描述:</label>
							    <textarea id="appNameQuery6" class="form-control" rows="4"  ng-model='m2' style="margin: 10px 0;"></textarea>
								</p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="queryBtn" type="button" class="btn btn-primary" ng-click='save()' style="margin: 10px "><i class="fa fa-search"></i>保存</button>
					<button id="resetBtn" type="reset" ng-click='submitcl2()' class="btn btn-primary" style="margin: 10px "><i class="fa fa-trash"></i>&nbsp;重置</button>
					<button id="resetBtn" type="reset" class="btn btn-primary" style="margin: 10px " data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

<!--角色权限配置-->
	<div class="modal fade" tabindex="-1" role="dialog" id="jiaosequanxian">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">角色权限配置</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" style="width:100%;">
						<form class="form-inline" style="margin-bottom: 10px;">
							<label for="appNameQuery" style="margin: 10px">角色名称：</label>
							<input type="text" id="appNameQuery" class="form-control" ng-model='ms' style="width: 150px;" />
						</form>
						<div class="table-responsive">
							<table class="table   table-hover" style="font-family: Helvetica, 微软雅黑;">
								<tr>
									<td>
										<ul style="width:200px;height: 400px;overflow-y: auto;margin-left: -25px;">
											<li ng-disabled='true' class="bg-primary">未选操作</li>
											<li ng-repeat='q in weisq_list2'>
												<e ng-click="suo_w(q.ID+$index)">+</e> 
													<input type="checkbox"  ng-click='select_suo_w($event,q.ID)' ng-checked='isSelected_w(q.ID)' name= "{{q.ID}}"  value="{{q.PID}}" />
												 <span>{{q.NAME}}</span>
												<ul style="margin-left: -25px;" ng-if='suos_w==q.ID+$index'>
													
													<li ng-repeat='w in q.CHILDRENW'>
														<e ng-click='suo2_w(w.ID+$index)'>+</e> <input type="checkbox"  ng-click='select_suo_w($event,w.ID)' ng-checked='isSelected_w(w.ID)' name='{{w.ID}}' value="{{w.PID}}"/><span>{{w.NAME}}</span>
														<ul style="margin-left: -25px;" ng-if='suos2_w==w.ID+$index'>
															<li ng-repeat='r in w.CHILDRENWS'>
																<e>-</e><input type="checkbox"   ng-click='select_suo_w($event,r.ID)' ng-checked='isSelected_w(r.ID)' name='{{r.ID}}' value="{{r.PID}}"/><span>{{r.NAME}}</span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</td>
									<td style="text-align: center;">
										<button ng-click="from()" style="margin: 10px;"> -->分配 </button>
										<br/>
										<button ng-click="to()" > <--取消  </button>
									</td>
									<td>
										<ul style="width:200px;height: 400px;overflow-y: auto;margin-left: -25px;" id="sc">
											<li ng-disabled='true' class="bg-primary">已选操作</li>
											<li ng-repeat='x in shouquan_list2'>
												<e ng-click='suo(x.ID+$index)'>+</e> <input type="checkbox"  ng-click='select_suo($event,x.ID)' ng-checked='isSelected(x.ID)' name= "{{x.ID}}"  value="{{x.PID}}"/><span>{{x.NAME}}</span>
												<ul style="margin-left: -25px;" ng-if='suos==x.ID+$index'>
													<li ng-repeat='y in x.CHILDREN'>
														<e ng-click='suo2(y.ID+$index)'>+</e> <input type="checkbox"  ng-click='select_suo($event,y.ID)' ng-checked='isSelected(y.ID)' name='{{y.ID}}' value="{{y.PID}}"/><span>{{y.NAME}}</span>
														<ul style="margin-left: -25px;" ng-if='suos2==y.ID+$index'>
															<li ng-repeat='z in y.CHILDRENS'>
																<e>-</e> <input type="checkbox"   ng-click='select_suo($event,z.ID)' ng-checked='isSelected(z.ID)' name='{{z.ID}}' value="{{z.PID}}"/><span>{{z.NAME}}</span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="queryBtn" type="button" class="btn btn-primary" ng-click='jiao_save()' style="margin: 10px "><i class="fa fa-search"></i>保存</button>
					<button id="resetBtn" type="reset" class="btn btn-primary" style="margin: 10px " data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


</div>
